<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'User: ' + user.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="user-listing">
  <p th:text="${'Name: ' + user.name}"></p>
  <img  th:src="@{'data:image/*;base64,'+${user.userImage.getImageDataBase64()}}" alt="images from database" width="50%" height="50%"/>
  <ul>
    <li th:each="user : ${users}">
      <a th:href="@{'/view/' + ${user.id}}" th:text="${user.name}"></a>


    </li>
  </ul>
  </p>
</div>


</body>
</html>